.checkbox {
    position: relative;
    width: 32px;
    height: 32px;

    border-radius: var(--radius-sm);

    background-color: var(--user-interface-white);

    color: var(--primary-blue);
}

.checkbox__input {
    position: absolute;
    appearance: none;
}

.checkbox__mark {
    opacity: 0;
}

.checkbox__input:checked + .checkbox__mark {
    opacity: 1;
}
