.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    gap: 16px;
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__image {
    display: none;
}

.about__parameters {
    display: flex;
    flex-direction: column;
    gap: 8px;

    justify-content: center;
    width: 100%;
}

@media (width >= 700px) {
    .about {
        display: grid;
        gap: 16px;

        grid-template-columns: 702px 343px;
        margin: 0 auto;
    }

    .about__content {
        flex-direction: row;
        align-items: flex-start;

        padding: 16px;

        border-radius: var(--radius-lg);

        background-color: var(--background-white);
        gap: 16px;
    }

    .about__image {
        display: block;

        border-radius: var(--radius-md);
    }

    .about__parameters {
        width: 100%;
        max-width: 343px;
    }
}
